

<div class="container">
  <h1>Welcome to JS Racer!</h1>

  <form id="login" action="/login" method="post">
    <fieldset class = "logon">
      <legend>Log On</legend>
      <input type="text"   name="one" placeholder = "Player 1 Name"><br>
       <input type="text"   name="two" placeholder = "Player 2 Name"><br>
      <input type="submit" name="logon" class = "submit" value = "Log On!">
    </fieldset>

</form>

 <form action="/signup" method="post">
    <fieldset class="signup">
      <legend>Sign Up</legend>
      <input type="text"   name="one" placeholder = "Player 1 Name"><br>
       <input type="text"   name="two" placeholder = "Player 2 Name"><br>
      <input type="submit" name="signup" class = "submit" value = "Sign Up!">
    </fieldset>

  </form>

 
</div>
